<div class="card text-dark bg-light">
  <div class="card-header text-center"> <h3> Basic Data </h3> </div>
  <div class="card-body">
      <div class="row">
          <div class="col-6"> <span class="text-capitalize app-stat-text rounded shadow-sm">  Height: {{ pokemon.height }} </span></div>
          <div class="col-6"> <span class="text-capitalize app-stat-text rounded shadow-sm">  Weight: {{ pokemon.weight }}  </span></div>
          <div class="col-6"> <span class="text-capitalize app-stat-text rounded shadow-sm">  Color: Blue  </span></div>
          <div class="col-6"> <span class="text-capitalize app-stat-text rounded shadow-sm">  Eggs groups: {{ pokemon.height }} </span></div>
          <div class="col-6"> <span class="text-capitalize app-stat-text rounded shadow-sm">  Genera: {{ pokemon_genera }} </span></div>
          <div class="col-6"> <span class="text-capitalize app-stat-text rounded shadow-sm">  Habitat: {{ pokemon_habitat }} </span></div>
      </div>
  </div>
</div>
