.text-entry-header {
    position: relative;
    line-height: 2.4;
    padding-left:1.5rem;
}

.text-entry-header::before {
    position: absolute;
    content: '';
    left:0;
    width: 3px;
    height: 100%;
    background: var(--bs-blue);
}



.text-entry {
    line-height:1.6;
}